# Python
__pycache__/
*.pyc

# Environment
env/
.venv/
*.env

# VSCode
.vscode/

# Model files
models/**/*.safetensors
models/**/*.bin
models/**/optimizer.pt
models/**/scheduler.pt
models/**/trainer_state.json
models/**/rng_state.pth

# Checkpoints
models/**/checkpoint-*/

# Streamlit temp
app/tmp_network.html

# OS files
.DS_Store
Thumbs.db

Terminal_Screenshot/
*.png
*.jpeg
*.jpg

